@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 100px;
}

.v-main-wrapper {
  padding: $spacer*2;
  max-width: 400px;
  margin: 0 auto;
}

.v-bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacer;
  background: $primary-bg;
  min-height: 50px;

  .material-icons {
    font-size: 36px;
    color: #2d2d2d;
  }
}

.v-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $spacer*2;
  background: $primary-bg;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &__back {
    display: flex;
    align-items: center;
    flex-basis: 25%;
  }

  &__user-info {
    flex-basis: 50%;
  }

  &__right-side {
    flex-basis: 25%;
  }
}